<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="xPLHal_2.WebServiceBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="xPLHal_2.WebServiceBehavior"
                name="xPLHal_2.xPLWebService">
                <endpoint address="" binding="wsHttpBinding" contract="xPLHal_2.xPLWebServiceContract">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
     
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>
