<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="xPLHalScriptHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="xPLHalScriptHelper.WCFDebugServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="xPLHalScriptHelper.WCFDebugServiceDuplexBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="xPLHalScriptHelper.WCFDebugServiceBehavior"
        name="xPLHalScriptHelper.WCFDebugService">
        <endpoint address="" binding="basicHttpBinding" contract="xPLHalScriptHelper.IWCFDebugService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8731/xPLHalScriptHelper/WCFDebugService/" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="xPLHalScriptHelper.WCFDebugServiceDuplexBehavior"
        name="xPLHalScriptHelper.WCFDebugServiceDuplex">
        <endpoint address="" binding="wsDualHttpBinding" contract="xPLHalScriptHelper.IWCFDebugServiceDuplex">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8731/xPLHalScriptHelper/WCFDebugServiceDuplex/" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
  <userSettings>
    <xPLHalScriptHelper.Properties.Settings>
      <setting name="WindowGeometry" serializeAs="String">
        <value />
      </setting>
      <setting name="WindowGeometryOpen" serializeAs="String">
        <value />
      </setting>
    </xPLHalScriptHelper.Properties.Settings>
  </userSettings>
</configuration>
