<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.diagnostics>
		<switches>
		 <!-- In order to receive timing trace messages, change value="0" to value="1" -->
			<add name="X10Timings" value="0" />
		 <!-- In order to trace X10 communication, change value="0" to value="1" -->
			<add name="X10Comm" value="1" />
		</switches>
	</system.diagnostics>
</configuration>
